{
  "singleQuote": true,
  "trailingComma": "all"
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "bracketSameLine": false,
  "useTabs": false,
  "tabWidth": 2,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "endOfLine": "lf",
}